/* STYLESHEET TABLE OF CONTENTS
    1 Setup
        1.1 Variables
        1.2 Fonts
        1.3 Root styling
        1.4 Utility Classes
    2 General elements
        2.1 Tags
            2.1.1 Scrollbar
            2.1.2 Buttons
        2.2 Titles
        2.3 Separators
    3 Reusable sections
        3.1 Header
    4 Specific sections
        4.1 Home page
            4.1.1 Introduction section
        4.2 Login & Register
            4.2.1 Projects list
        4.3 Profile
        4.4 404 Page
            4.1.1
            4.1.2
    5 Useless elements
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
a {
  user-select: none;
}
a:hover {
  cursor: pointer;
}

body {
  background-color: #212227;
  color: #d3d6f0;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.darken-text {
  color: #878fd6;
}

.small-margin-bottom {
  margin-bottom: -10px !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1b1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8892ec;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.btn {
  display: inline-block;
  color: #d3d6f0;
  background-color: #40446e;
  padding: 10px 45px;
  min-width: 5vw;
  border-radius: 15px;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.btn #btn-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.btn #btn-flex #back {
  width: 30px;
  height: 30px;
}
.btn #btn-flex #btn-text {
  margin: 0;
}
.btn #btn-flex #btn-img {
  text-decoration: none;
}
.btn #btn-flex #btn-img:hover {
  text-decoration: none;
}
.btn .material-icons-round {
  margin: 24px 0;
  font-size: 32px;
  color: #d3d6f0;
}

#header {
  display: flex;
  max-width: 100vw;
  height: 15vh;
  padding: 0 2vw;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

#dialog {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-75%, 0%);
}

#index-content {
  display: flex;
  width: 100vw;
  height: 85vh;
  max-height: 85vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#index-content #chatroom-list {
  display: flex;
  width: 20vw;
  height: 85vh;
  max-height: 85vh;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
#index-content #chatroom-list .chatroom {
  display: flex;
  max-width: 16vw;
  min-width: 14vw;
  margin: 1vw 2vw;
  padding: 1.5vw 1vw;
  height: 3vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  background-color: #40446e;
  border-radius: 15px;
}
#index-content #chatroom-list .chatroom:nth-child(1) {
  margin: 2vw 2vw 1vw 2vw;
}
#index-content #chatroom-list .chatroom img {
  aspect-ratio: 1;
  height: auto;
  width: 3vw;
}
#index-content #chat-window {
  display: flex;
  width: 80vw;
  height: 85vh;
  max-height: 85vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-left-radius: 25px;
  background-color: #1a1b1f;
}
#index-content #chat-window #chat-list {
  display: flex;
  width: 80vw;
  height: 77vh;
  max-height: 77vh;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
}
#index-content #chat-window #chat-list .chat {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
#index-content #chat-window #chat-list .chat-message {
  display: flex;
  margin: 0;
  overflow-wrap: anywhere;
}
#index-content #chat-window #chat-list .chat-user {
  display: flex;
  flex-direction: row;
  gap: 0;
  row-gap: 0;
  align-items: center;
}
#index-content #chat-window #chat-list .chat-user img {
  border-radius: 15px;
  margin: 0 10px 0 0;
  aspect-ratio: 1;
  height: max-content;
  width: auto;
}
#index-content #chat-window #chat-list .chat-user .chat-message {
  margin: 0;
  padding: 0;
}
#index-content #chat-window #chat-box {
  display: flex;
  flex-grow: 1;
  width: 80vw;
  height: 13vh;
  max-height: 13vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#index-content #chat-window #chat-box textarea {
  width: 76.5vw;
  margin: 10px;
  padding: 1vh;
  background-color: #40446e;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  /*remove the resize handle on the bottom right*/
  font-family: "Poppins", sans-serif;
}
#index-content #chat-window #chat-box textarea::placeholder {
  color: #d3d6f0;
}

#form {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  padding: 15px;
  margin: 10px;
  text-align: center;
  font-size: 25px;
  border-radius: 15px;
  color: #1A1A1D;
}
input:active {
  color: #1A1A1D;
}

#register {
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
#register a {
  color: #d3d6f0;
  text-decoration: none;
}
#register a:hover {
  cursor: pointer;
}

#profile-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto auto 0;
  width: 50vw;
  height: 85vh;
}
#profile-content #profile-box {
  background: #40446e;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  padding: 5rem;
}
#profile-content #profile-box #profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
  gap: 25px;
  height: 40vh;
  padding: 25px;
  background: #5c629e;
  color: papayawhip;
  border-radius: 25px;
  border-collapse: collapse;
  text-align: left;
}
#profile-content #profile-box #profile img {
  aspect-ratio: 1/1;
  height: 20rem;
  border-radius: 2147483647rem;
}
#profile-content #profile-box #profile div {
  display: flex;
  flex-direction: column;
}
#profile-content #profile-box #profile div * {
  margin: 5px 0;
}
#profile-content #profile-box #profile input {
  display: none;
  width: 29vw;
}
#profile-content #profile-box #profile #updateUser {
  display: none;
}

/*# sourceMappingURL=style.css.map */
