/* STYLESHEET TABLE OF CONTENTS
  1 General styling
    1.1 Imports
    1.2 Body styling
  2 Section styling
    2.1 Header
    2.2 Lists (chatroom list and user list)
    2.3 Main chat window
 */

// 1.1 Imports
@use 'globals';

// 1.2 Body styling
body
{
  // Create a 3x2 grid for the entire page
  display: grid;
  grid-template-columns: 20rem 1fr 15rem;
  grid-template-rows: 10rem 1fr;

  // Set the page height to always exactly fit the viewport
  height: 100vh;
}

// 2.1 Header
#header
{
  // Let the header take all the horizontal space
  grid-column: 1/4;

  // Name of the current chatroom displayed in header
  #current-chatroom-name
  {
    // Limit the room name to half the page, in case it is a very long name
    max-width: 50vw;

    // Properly cut off name if it is too long
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// 2.2 Lists (chatroom list and user list)
.list
{
  // Spacing between list items (also used for horizontal padding)
  $list-spacing: globals.$padding-standard;

  display: flex;
  gap: $list-spacing;
  flex-direction: column;

  padding: 0 $list-spacing;

  // Make lists scrollable
  overflow-y: scroll;

  // Each individual item (card) in the list
  .list-card
  {
    display: flex;
    gap: globals.$padding-standard;
    align-items: center;

    padding: globals.$padding-standard;
    box-sizing: border-box; // This includes the padding in the width measurement (I think, at least it seems so)

    background-color: globals.$accent-purple-navy;
    border-radius: globals.$border-radius-large;

    img
    {
      // Force square images
      height: 50px;
      aspect-ratio: 1;

      border-radius: globals.$border-radius-small;
    }

    p
    {
      // Remove margin because it broke the overall size of the thing and it really doesn't need a margin
      margin: 0;

      // Limit text to its intended max size
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // The leave button
    .leave-chatroom-button
    {
      // Place at the end of the card
      margin-left: auto;

      padding: globals.$padding-small;
      background: globals.$color-profile-background-light;
      border-radius: globals.$border-radius-small;
    }
  }
}

// 2.3 Main chat window
#chat-window
{
  display: flex;
  flex-direction: column;

  // I don't know why we need this, but it stops the chat from expanding the grid for no reason
  overflow: scroll;

  // Rounded top corners
  border-top-left-radius: globals.$border-radius-large;
  border-top-right-radius: globals.$border-radius-large;

  background-color: globals.$chat-background-color;

  // Actual list of chat messages inside main chat window
  #chat-list
  {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow: scroll;
    scroll-behavior: smooth;

    padding: globals.$padding-standard;

    // Inside each individual chat there is the message, username and pfp

    // Message "header", contains user info and date
    .chat-user
    {
      display: flex;
      justify-content: space-between;

      // Sections inside the message "header" (left and right section)
      div
      {
        display: flex;
        align-items: center;
        gap: globals.$padding-standard
      }

      // User pfp
      img
      {
        border-radius: globals.$border-radius-small;
        aspect-ratio: 1;

        height: 3rem;
      }
    }

    // Each message text
    .chat-message
    {
      margin: 0;
    }
  }

  // Input field where you write the message
  #chat-box textarea
  {
    // Store margin in its own variable to account for width calculation
    $margin: globals.$padding-standard;

    box-sizing: border-box;

    width: calc(100% - (#{$margin} * 2));
    margin: $margin;
    padding: globals.$padding-standard;

    background-color: globals.$accent-purple-navy;
    color: globals.$accent-white;

    border-radius: globals.$border-radius-small;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    // Remove the resize handle on the bottom right
    resize: none;

    font-family: "Poppins", sans-serif;

    &::placeholder
    {
      color: globals.$accent-light-periwinkle;
    }
  }
}
