/* TABLE OF CONTENTS
  1 Colors
    1.1 Theme colors
    1.2 Other colors
  2 Sizing
  3 Corners
 */

// 1.1 Theme colors
$accent-raisin-black: #212227; // Primary
$accent-purple-navy: #40446e; // Tertiary
$accent-cornflower-blue: #8892ec;
$accent-light-periwinkle: #d3d6f0; // Secondary
$accent-white: #ffffff;

// 1.2 Other colors
$button-alt-color: darken($accent-purple-navy, 23);
$color-profile-background-light: lighten($accent-purple-navy, 15);
$chat-background-color: darken($accent-raisin-black, 3);
$color-background-lighter: lighten($accent-raisin-black, 5);
$darker-text: darken($accent-light-periwinkle, 20);

// 2 Sizing
$padding-large: 5rem;
$padding-standard: 1rem;
$padding-small: .2rem;

// 3 Corners
$border-radius-small: .8rem;
$border-radius-large: calc($border-radius-small + $padding-standard);
$border-radius-x-large: calc($border-radius-small + $padding-large);
