/* TABLE OF CONTENTS
  1 General styling
    1.1 Imports
    1.2 Body
  2 Page styling
 */

// 1.1 Imports
@use 'globals';

// 1.2 Body
body
{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// 2 Page styling
#profile-content
{
  // Center align content inside
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Center align self
  margin: 0 auto;

  // Use all available space
  height: 100%;

  padding: globals.$padding-large;
  background: globals.$accent-purple-navy;
  border-top-left-radius: globals.$border-radius-x-large;
  border-top-right-radius: globals.$border-radius-x-large;

  #profile
  {
    display: flex;
    align-items: center;
    gap: globals.$padding-standard;

    padding: globals.$padding-standard;
    background: globals.$color-profile-background-light;
    color: globals.$accent-white;
    border-radius: globals.$border-radius-large;

    // Profile picture
    img
    {
      height: 20rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    div
    {
      display: flex;
      flex-direction: column;
    }

    // This seems like a bad approach. A lot of this should be rewritten later
    div *
    {
      margin: 5px;
    }

    // Hide profile edit input fields
    .userinfo input
    {
      display: none;
    }

    #updateUser
    {
      display: none;
    }

    #edit
    {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
    }

    // Hide passphrase edit fields
    .passwordInfo
    {
      display: none;
    }
  }
}
