div
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 25px;
    text-align: center;
}

*
{
    color: #D3D6F0FF;
    text-align: center;
}

a
{
    color: #d3d6f0ff;
    text-decoration: underline;
}

h1
{
    text-align: center !important;
}

p
{
    width: 100ch;
}
